[Unit]
Description=Sonarr Daemon
After=syslog.target network.target transmission-daemon.service prowlarr.service

[Service]
User=media
Group=media
UMask=0002

Type=simple
ExecStart=/usr/bin/mono --debug /opt/Sonarr/Sonarr.exe -nobrowser -data=/home/media/.config/Sonarr
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
