<Config>
  <LogLevel>info</LogLevel>
  <BindAddress>*</BindAddress>
  <EnableSsl>False</EnableSsl>
  <SslCertPath></SslCertPath>
  <Port>8686</Port>
  <UrlBase>/lidarr</UrlBase>
  <AuthenticationMethod>External</AuthenticationMethod>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <LaunchBrowser>False</LaunchBrowser>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
  <Branch>master</Branch>
  <SslPort>6868</SslPort>
  <SslCertPassword></SslCertPassword>
  <UpdateAutomatically>True</UpdateAutomatically>
</Config>
