Package: readarr
Priority: extra
Section: net
Installed-Size: 66714544
Maintainer: root@fileserver
Architecture: amd64
Version: 3.2.2.5080 
Provides: Readarr
Description: Readarr indexing search for books 
