[Unit]
Description=FlareSolverr
After=prowlarr.service
Requires=prowlarr.service

[Service]
SyslogIdentifier=FlareSolverr

Environment="CAPTCHA_SOLVER=hcaptcha-solver"

Restart=always
RestartSec=5
Type=simple
User=media
Group=media
WorkingDirectory=/opt/flaresolverr
ExecStart=/opt/flaresolverr/flaresolverr
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
